<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="debug" type="bool" label="32001" default="false"/>
    <setting id="server_id" type="number" label="32013" default="0000"/>
    <setting id="email" type="text" label="32014" default="yourparsecaccountATsomemail.com"/>
    <setting id="password" type="text" option="hidden" label="32015" default=""/>
    <setting id="server_selection" type="number" label="32016" default="1"/>
</settings>